body{
    background-color: rgb(200,200,200);
    color: rgb(89, 89, 128);
    max-width: 1000 px;
    margin-top: 0 px;
    margin-bottom: 0 px;
    margin-left: auto;
    margin-right: auto;
}

.divcss{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;

}